@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

html,
body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background-color: #111927;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(139.29, 0%, 0%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 55%);
}


@keyframes spinner-animation {
  to {
    transform: rotate(360deg);
  }
}

.spinner-small {
  width: 4.8px;
  height: 4.8px;
  animation: spinner-animation 1.5s infinite linear;
  border-radius: 4.8px;
  box-shadow: 12px 0px 0 0 #ffffff, 7.4px 9.4px 0 0 #ffffff,
    -2.6px 11.6px 0 0 #ffffff, -10.8px 5.2px 0 0 #ffffff,
    -10.8px -5.2px 0 0 #ffffff, -2.6px -11.6px 0 0 #ffffff,
    7.4px -9.4px 0 0 #ffffff;
}

.spinner-medium {
  width: 8px;
  height: 8px;
  animation: spinner-animation 1.5s infinite linear;
  border-radius: 8px;
  box-shadow: 20px 0px 0 0 #fff, 12.4px 15.6px 0 0 #fff, -4.4px 19.4px 0 0 #fff,
    -18px 8.6px 0 0 #fff, -18px -8.6px 0 0 #fff, -4.4px -19.4px 0 0 #fff,
    12.4px -15.6px 0 0 #fff;
}

.spinner-large {
  width: 11.2px;
  height: 11.2px;
  animation: spinner-animation 1.5s infinite linear;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 #fff, 17.4px 21.8px 0 0 #fff, -6.2px 27.2px 0 0 #fff,
    -25.2px 12px 0 0 #fff, -25.2px -12px 0 0 #fff, -6.2px -27.2px 0 0 #fff,
    17.4px -21.8px 0 0 #fff;
}
